.back{
    width: 100%;
    height: 100%;
    background-image: url('../../assets/telas/grupo.png');
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-x: center;
}
ion-button{
    width: 90%;
    height: 10%;
    margin-left: 5%;
    margin-top: 100%;
}
ion-item{
    width: 90%;
    height: 10%;
    margin-left: 5%;
    padding: 2cm;
    margin-block-end: 10%;
}
